/* Styles for the main container */
.mainContainer {
    width: 270px;
    height: 309px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;

  }
  @media (max-width:280px) {
    .mainContainer{
      width: 212px;

    }
  }
  
  /* Styles for the image container */
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the person image */
  .personImage {
    height: 75px;
    width: 75px;
  }
  
  /* Styles for the review container */
  .reviewContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* Styles for the review text */
  .reviewText {
    font-size: 13px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Plus Jakarta Sans";
    color: #322f37;
  }
  
  /* Styles for the bottom container */
  .bottomContainer {
    border-top: 1px solid #a79fb3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 15px;
    align-items: center;
    box-shadow: 90px 0px 90px 0px rgba(225, 217, 236, 0.40);
  }
  
  /* Styles for the person details container */
  .personDetails {
    display: flex;
    flex-direction: column;
  }
  
  /* Styles for the person name */
  .personName {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    color: #322f37;
  }
  
  /* Styles for the person username */
  .personUserName {
    margin: 0;
    font-size: 13px;
    font-family: "Plus Jakarta Sans";
    color: #322f37;
  }
  
  /* Styles for the rating container */
  .ratingContainer {
    display: flex;
  }
  
  /* Styles for the star icon */
  .starIcon {
    color: #ffd05b;
    height: 18px;
    width: 18px;
  }
  